/* reset제작할 때 */
* {
  margin: 0;
  padding: 0;
  font-family: 'YClover';
}
body {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  font-family: 'YClover';
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}
